body{
    background-color: #BA704F;
    font-family: 'Caveat', cursive;
    font-size: 20px;
    text-align:unset;
}
article{
    background-color: antiquewhite;
    box-decoration-break: clone;
    width: 600px;
    margin: auto;
}
.box{
    float: none;
    border: 10px solid #fff;
    border-bottom: 45px solid #fff;
    -webkit-box-shadow: 3px 3px 3px #777;
    -moz-box-shadow: 3px 3px 3px #777;
    box-shadow: 3px 3px 3px #777;
    width: 50%;
}
footer{
    text-align: center;
}
hr{
    background-color : #DFA878 ;
}
#resim{
    position: relative;
}